<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!-- IOC控制反转 -->
<!-- <bean id="student" class="com.fj.qianfeng.Student"></bean> -->
<!-- DI依赖注入 -->
	<!-- 添加手机功能 -->
	<bean id="phone" class="com.fj.qianfeng.Phone">
	<property name="id" value="3333"></property>
	<property name="name" value="xiaomi"></property>
	</bean>
	<bean id="student" class="com.fj.qianfeng.Student">
		<property name="name" value="fangjun"/>
		<property name="age" value="18"/>
		<property name="phone" ref="phone"/>
	</bean>
</beans>